.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 10px;
  text-decoration: none;
  color: white;
}
.icon {
  font-size: medium !important;
}
.text-red {
  color: red;
}

.test {
  font-weight: bolder;
}